# Google Service Account (create at console.cloud.google.com)
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Google Drive folder ID (the folder where product images will be uploaded)
# Get it from the URL: drive.google.com/drive/folders/THIS_PART
GOOGLE_DRIVE_FOLDER_ID=your_drive_folder_id

# Google Sheets spreadsheet ID
# Get it from the URL: docs.google.com/spreadsheets/d/THIS_PART/edit
GOOGLE_SHEET_ID=your_sheet_id
